Source: python3-pyobd-beardedone55
Section: utils
Priority: optional
Maintainer: Brian LePage <bjlepage22@gmail.com>
Build-Depends: debhelper (>= 10),python3,python3-setuptools
Standards-Version: 4.3.0
Homepage: http://www.obdtester.com/pyobd
Vcs-Browser: https://github.com/beardedone55/pyobd
Vcs-Git: git://github.com/beardedone55/pyobd.git

Package: python3-pyobd-beardedone55
Architecture: all
Section: utils
Priority: optional
Depends: python3,python3-serial,python3-pyqt5,${misc:Depends}
Description:OBD-II (SAE-J1979) compliant scantool software written in Python.
 pyOBD is meant to interface with the low cost ELM 32x devices such as ELM-USB.
 It was written by Donour Sizemore, later maintained and improved by SECONS,
 Ltd. <www.obdtester.com>. It is Free Software and is distributed under the
 terms of the GPLv2. This fork is maintained by Brian LePage
 <https://github.com/beardedone55>. For Python developers, pyOBD provides a
 single module, obd_io, that allows high level control over sensor data and
 diagnostic trouble code management. The entire package has been tested to
 work on Ubuntu Linux.
